*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1{text-align:start;}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    background-color: powderblue;
}


nav {
    width: 100%;
    float: right;
    background-color: #113a92;
    position: fixed;
}

nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }

  nav ul li {
    display: block;
    float: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
}


nav ul li a{
    display: block ;
    margin-left: 75px;
    padding: 25px 0;
    float: right;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background: #010f2c;
  }

.banner img{
    width: 100%;
    height: 300px;
    display: block;
}

header .profile-photo img{
    border-radius: 50%;
    width: 200px;
    height: 180px;
    position: relative;
    display: flex;
    align-items: center;
}

 .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}